

.develop{
    /* width: 400px; */
    background-color: #2b6777;
    margin: 10px;
    text-align: center;
    margin-left: 35px;
    color: black;
}
.image{
    background-color: #52ab98;
    padding: 5px;
}
.image img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.details{
    text-align: left;
    margin-left: 5px;
}



/* react bootstrap  */
.card-file{
    text-align: left;
}
.text{
    color: brown;
}